.cart{
width: 100%;
color: #ffff;
display: flex;
flex-wrap: wrap;

}

.cart-in{
 height: 450px;
 display: flex;
 padding: 10px;
 color:  black;
 display: flex;
 
}

.but{
display: flex;
margin:20px;
width: 220px;
text-align: center;
justify-content: center;
border:1px solid black;
}

.info{

border: 3px solid black;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height : 420px;
padding:15px;      
     
  }
  

  @media (min-width: 768px){
    .cart{
      display:flex;
      flex-direction:column;
      justify-content: center;
      align-items: center;
      color : black;
      height: 500px;
      padding: 40px;
    }
    .cart-in{
      width: 500px;
      height: 500px;
      display: flex;
      justify-content: center;
      flex-direction: space-between;
      align-items:center;
      padding: 30px;
      color:  black;
      margin: 20px;
    }
    .btu{
      display: flex;
      flex-direction: row;
    }
  
  }