
.card{
  
  width:300px;
  border: 1px solid;
  padding: 10px;
  margin: 10px;
  border: 1px solid ;
}

/* .beers{

  display: flex;
flex-direction:column;
justify-content:center;
}




  .card1{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items:center;
   
  } */
  @media (min-width: 768px){
   .card{
    width:23.3%;
     

   }
  }