header{
  background-color: black;
  color: white;
  padding:30px;
}
.nav{
  display: flex;
  justify-content: stretch;
}
.nav a {
  display: flex;
  margin: 10px;
}
.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px;
 

}
.card{
  margin: 30px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items:center;
  width: 300px; 
  border: 1px solid;
  padding: 79px;
 text-align: center;
  
}
.card1{
  display: flex;
  justify-content: center;
  flex-direction:column;
  align-items:center;
}
.image1{
  width:50px;
}