*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font: size 16px;
  line-height:2;
  border: 5px solid white;
 
}
header{
  background-color: black;
  color: white;
  padding:30px;
  display: flex;
  border-bottom: 3px solid white;
  font-weight: 900;
}
.clock{
  box-shadow: 10px 5px 3px;
  text-align: center;
  padding: 20px;
  font-size: 20px;
  font-weight: 900;
}

.link{
  color: #ffff;
  text-decoration: none;
}
.image1{
  width:50px;
}
.home {
height: 95vh;
background-image:
url('./components/images/project.jpeg');
background-size: cover;
background-position: top;
clip-path: polygon(0 0,100% 0,100% 75%,0 100%);

}

.box{
position: absolute;
top:50%;
left: 50%;
transform:translate(-40% ,-50%);
text-align: center;
margin-top: 20px;
   
}
.primary{
  color: #ffff;
  text-transform: uppercase;
}
.btn:link,.btn:visited{
  text-transform: uppercase;
  text-decoration: none;
  padding: 15 40px;
  display:inline-block;
  border-radius: 100px;
  transition: all 1s ;
  position: relative;
}
.btn-white:hover{
  box-shadow: 0 5px 10px rgb(245, 240, 240);
  transform: translate(-3px);
  
}

.list-group{
  border: 1px solid ;
}
.btn:active{
  transform: translate(-1px);
}
.btn-white{
  margin-top: 20px;
  background: white;
  color:rgb(20, 11, 11);
  text-transform: uppercase;
  text-decoration: none;
  padding: 15 40px;;
}
.btn::after{
  content: " ";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position:absolute;
  top:0;
  left:0;
  z-index: -1;

  
}
.btn-white::after{
background-color: white;
}
.btn:hover::after{
  transform:scaleX(1.4)scaleY(1.6);
  opacity:0;
  
}
.btn-animated{
  animation :moveInButton .5s ease-out .75s;
  animation-fill-mode: backwards;
 }
.text1{
display: block;
font-size: 30px;
font-weight: 400;
letter-spacing: 25px;
animation: moveInLeft 3s ease-out;
}
.text2{
  display: block;
  font-size: 20px;
font-weight: 400;
letter-spacing: 17.4px;
animation: moveInRigth 3s ease-out;
  }
  .order{
    
    border: 3px solid;
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
    padding: 40px;
  }
  
 @media (min-width: 768px){
  
   form{
     width: 300px;
     height: 200px;
     display: flex;
     justify-content: center;
     flex-direction:column;
   }
   .order{
     display: flex;
     width: 300px;
     flex-direction: column;
     justify-content:center;
     align-items: center;
   }.clock{
     display: flex;
    justify-content: flex-end;
   }
 }



