*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font: size 16px;
  line-height:1.7;
  color: #7777;
  padding: 10px;
}
header{
  background-color: black;
  color: white;
  padding:30px;
}
.nav{
  display: flex;
  justify-content: stretch;
}
.nav a {
  display: flex;
  margin: 10px;
}
.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px;
 

}
.card{
  margin: 30px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items:center;
  width: 300px; 
  border: 1px solid;
  padding: 79px;
 text-align: center;
  
}
.card1{
  display: flex;
  justify-content: center;
  flex-direction:column;
  align-items:center;
}
.image1{
  width:50px;
}
.home {
height: 95vh;
background-image:
 linear-gradient(transparent,
 rgb(209, 204, 204)),
 url('./components/images/project.jpeg');
background-size: cover;
background-position: top;
clip-path: polygon(0 0,100% 0,100% 75%,0 100%);

}

.box{
 
  position: absolute;
  top:50%;
  left: 50%;
  transform:translate(-40% ,-50%);
text-align: center;
}
.primary{
  color: #ffff;
  text-transform: uppercase;
}
.btn:link,.btn:visited{
  text-transform: uppercase;
  text-decoration: none;
  padding: 15 40px;
  display:inline-block;
  border-radius: 100px;
  

}
.btn-white:hover{
  box-shadow: -10px -10px 25px rgb(245, 240, 240);
  transform: translate(-3px)
}
.btn:active{
  transform: translate(-1px);
}
.btn-white{
  background: white;
  color:rgb(20, 11, 11);
  text-transform: uppercase;
  text-decoration: none;
  padding: 15 40px;;
}
.text1{
display: block;
font-size: 60px;
font-weight: 400;
letter-spacing: 25px;
animation: moveInLeft 3s ease-out;
}
.text2{
  display: block;
  font-size: 20px;
font-weight: 400;
letter-spacing: 17.4px;
animation: moveInRigth 3s ease-out;
  }

@keyframes moveInLeft{
  0%{
   opacity: 0;
   transform: translateX(-100px);
  }
  80%{
    transform: translateX(10px);
  }
  100%{
    opacity:1;
    transform:translateX(0);
    
  }
}

@keyframes moveInRigth{
  0%{
   opacity: 0;
   transform: translateX(100px);
  }
  80%{
    transform: translateX(-10px);
  }
  100%{
    opacity:1;
    transform:translateX(0);
  }
}