.nav{
    display: flex;
    justify-content: flex-end;
  }
  .nav a {
    display: flex;
    margin: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 23px;
  }
  .only{
    color: red;
  }